body {
    background-image: url("snack.jpg");
    background-size: cover;
    font-family: -apple-system; 
    font-weight: bold;
    text-align: center;
    height: 100vh
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #780000;
    margin-top: 250px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 50px;
}

#increment-btn {
    background: darkred;
    border: 2px solid #ff7d00;
}

#increment-btn:hover {
    background: #c1121f;
}

#save-btn {
    background: #ff7d00;
    border: 2px solid #780000;
}

#save-btn:hover {
    background: #ff595e;
}

#save-el {
    color: #780000;
}

.group {
    max-width: 1000px
}

